:global {
  @tailwind base;

  @tailwind components;

  @tailwind utilities;

  #app {
    background-color: #fafafa;
    min-height: 100%;
    min-width: 100%;
  }
}

/* Reset CSS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
}

h1 {
  font-size: 2.4rem;
}
