$default-height: 2.5rem;

:global {
  .react-datepicker-wrapper {
    min-width: 100%;
  }

  div[class*="react-datepicker"] {
    font-size: 1.25rem;
  }

  .react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
    right: 95px;
  }
}

.select {
  font-size: 1.25rem;

  div[class*="-control"] {
    min-height: 0;
    height: $default-height;
    border-color: #a0aec0;
    border-radius: 0.25rem;

    > div {
      height: $default-height;

      div[class*="-Input"] {
        min-height: 0;
        height: $default-height;
        top: -4px;
        position: relative;
      }
    }

    div[class*="-Indicators"] {
      min-height: 0;
      height: $default-height;
    }
  }
}
